<a href="https://colab.research.google.com/github/reesewang25/Superbvisors/blob/main/datafiltering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [31]:
import io
import glob
import os

In [22]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [20]:
!ls

 drive	 sample_data  'stage2.12.2017 (1).csv'	 stage2.12.2017.csv

In [25]:
!pwd

/content

In [32]:
df =pd.read_csv("drive/MyDrive/Colab Notebooks/dsgtfiles/stage2.12.2017.csv")

In [33]:
df

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,1000709,2017-12-01,North Carolina,Cameron,2006 Marks Road,0,1,http://www.gunviolencearchive.org/incident/100...,http://wncn.com/2017/12/01/2-harnett-county-sc...,False,...,NaN,NaN,0::Male||1::Male||2::Male,NaN,NaN,0::Injured,0::Victim||1::Subject-Suspect||2::Subject-Suspect,http://wncn.com/2017/12/01/2-harnett-county-sc...,51.0,12.0
1,999981,2017-12-01,Kentucky,Danville,303 S 2nd St,0,0,http://www.gunviolencearchive.org/incident/999981,http://www.lex18.com/story/36974036/airsoft-pi...,False,...,NaN,NaN,NaN,NaN,NaN,0::Unharmed,0::Subject-Suspect,http://www.lex18.com/story/36974036/airsoft-pi...,54.0,15.0
2,999105,2017-12-01,Ohio,Toledo,3100 block of Elm St,0,1,http://www.gunviolencearchive.org/incident/999105,http://www.toledoblade.com/Police-Fire/2017/12...,False,...,0::28,0::Adult 18+,0::Male,0::Phillip Allen,NaN,0::Injured,0::Victim,http://www.toledoblade.com/Police-Fire/2017/12...,44.0,11.0
3,1000715,2017-12-01,Washington,Longview,4300 block of Ocean Beach Hwy,0,0,http://www.gunviolencearchive.org/incident/100...,http://tdn.com/news/local/police-blotter-dec/a...,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://tdn.com/news/local/police-blotter-dec/a...,19.0,19.0
4,999403,2017-12-01,Minnesota,Minneapolis (Brooklyn Park),9110 Brooklyn Blvd,0,1,http://www.gunviolencearchive.org/incident/999403,http://minnesota.cbslocal.com/2017/12/01/polic...,False,...,NaN,0::Adult 18+,NaN,NaN,NaN,0::Injured,0::Victim,http://minnesota.cbslocal.com/2017/12/01/polic...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4617,1021518,2017-12-31,New Mexico,Mesilla Park,9000 block of Clovis Rd,0,0,http://www.gunviolencearchive.org/incident/102...,http://www.lcsun-news.com/story/news/crime/201...,False,...,0::49,0::Adult 18+,0::Male,0::Steven Ortega,NaN,"0::Unharmed, Arrested",0::Subject-Suspect,http://www.lcsun-news.com/story/news/crime/201...,NaN,NaN
4618,1017652,2017-12-31,Ohio,Mechanicsburg,9800 block of Loveless Rd,1,1,http://www.gunviolencearchive.org/incident/101...,http://www.daytondailynews.com/news/local/shot...,False,...,0::48||1::51,0::Adult 18+||1::Adult 18+,0::Female||1::Male,0::Pamelia Hooper||1::Joe Hooper,1::Significant others - current or former,0::Injured||1::Killed,0::Victim||1::Subject-Suspect,http://nbc4i.com/2017/12/31/deputies-respond-t...,85.0,12.0
4619,1018216,2017-12-31,North Carolina,Sanford,590 Nicole Dr,0,1,http://www.gunviolencearchive.org/incident/101...,http://www.wral.com/19-year-old-shot-in-leg-in...,False,...,0::19,0::Adult 18+,0::Male,0::Marquis A Barnes,NaN,0::Injured,0::Victim,http://www.fayobserver.com/news/20180101/harne...,53.0,12.0
4620,1069150,2017-12-31,Delaware,Wilmington,1300 block of Banning St,0,0,http://www.gunviolencearchive.org/incident/106...,http://www.wdel.com/news/wilmington-burglary-a...,False,...,0::37,0::Adult 18+,0::Male,0::Brian Lewis,NaN,"0::Unharmed, Arrested",0::Subject-Suspect,http://www.wdel.com/news/wilmington-burglary-a...,3.0,3.0
4621,1019212,2017-12-31,Kentucky,Robards,11000 block of US 41,0,1,http://www.gunviolencearchive.org/incident/101...,http://www.14news.com/story/37398184/suspect-a...,False,...,0::37,0::Adult 18+||1::Adult 18+,0::Male||1::Male||2::Male,0::Reginald Brown II||1::Maurice Thompson,NaN,0::Injured||1::Unharmed||2::Unharmed,0::Victim||1::Subject-Suspect||2::Subject-Suspect,http://www.14news.com/story/37168754/man-shot-...,11.0,4.0

In [14]:
df.isnull().sum()

incident_id                       0
date                              0
state                             0
city_or_county                    0
address                         236
n_killed                          0
n_injured                         0
incident_url                      0
source_url                       10
incident_url_fields_missing       0
congressional_district          631
gun_stolen                       14
gun_type                         14
incident_characteristics          1
latitude                         94
location_description           3720
longitude                        94
n_guns_involved                  14
notes                          1455
participant_age                1754
participant_age_group           844
participant_gender              720
participant_name               2234
participant_relationship       4300
participant_status              502
participant_type                462
sources                           7
state_house_district            631
state_senate_district           631
dtype: int64

In [15]:
minidf = df[['date','state','n_killed','n_injured','incident_characteristics']]

In [16]:
minidf

,date,state,n_killed,n_injured,incident_characteristics
0,2017-12-01,North Carolina,0,1,Shot - Wounded/Injured||Home Invasion||Home In...
1,2017-12-01,Kentucky,0,0,Non-Shooting Incident||School Incident||Gun at...
2,2017-12-01,Ohio,0,1,Shot - Wounded/Injured
3,2017-12-01,Washington,0,0,Non-Shooting Incident||Drug involvement||Gun(s...
4,2017-12-01,Minnesota,0,1,Shot - Wounded/Injured||Institution/Group/Busi...
...,...,...,...,...,...
4617,2017-12-31,New Mexico,0,0,Shots Fired - No Injuries||Officer Involved In...
4618,2017-12-31,Ohio,1,1,"Shot - Wounded/Injured||Shot - Dead (murder, a..."
4619,2017-12-31,North Carolina,0,1,Shot - Wounded/Injured
4620,2017-12-31,Delaware,0,0,Non-Shooting Incident||Drug involvement||ATF/L...
4621,2017-12-31,Kentucky,0,1,Shot - Wounded/Injured

Tried to import csv files for all years

In [35]:
os.chdir("drive/My Drive/Colab Notebooks/dsgtfiles")

In [40]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [41]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames])

#export to csv
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

In [42]:
df = pd.read_csv('combined_csv.csv')

In [43]:
df

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,1000709,2017-12-01,North Carolina,Cameron,2006 Marks Road,0,1,http://www.gunviolencearchive.org/incident/100...,http://wncn.com/2017/12/01/2-harnett-county-sc...,False,...,NaN,NaN,0::Male||1::Male||2::Male,NaN,NaN,0::Injured,0::Victim||1::Subject-Suspect||2::Subject-Suspect,http://wncn.com/2017/12/01/2-harnett-county-sc...,51.0,12.0
1,999981,2017-12-01,Kentucky,Danville,303 S 2nd St,0,0,http://www.gunviolencearchive.org/incident/999981,http://www.lex18.com/story/36974036/airsoft-pi...,False,...,NaN,NaN,NaN,NaN,NaN,0::Unharmed,0::Subject-Suspect,http://www.lex18.com/story/36974036/airsoft-pi...,54.0,15.0
2,999105,2017-12-01,Ohio,Toledo,3100 block of Elm St,0,1,http://www.gunviolencearchive.org/incident/999105,http://www.toledoblade.com/Police-Fire/2017/12...,False,...,0::28,0::Adult 18+,0::Male,0::Phillip Allen,NaN,0::Injured,0::Victim,http://www.toledoblade.com/Police-Fire/2017/12...,44.0,11.0
3,1000715,2017-12-01,Washington,Longview,4300 block of Ocean Beach Hwy,0,0,http://www.gunviolencearchive.org/incident/100...,http://tdn.com/news/local/police-blotter-dec/a...,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://tdn.com/news/local/police-blotter-dec/a...,19.0,19.0
4,999403,2017-12-01,Minnesota,Minneapolis (Brooklyn Park),9110 Brooklyn Blvd,0,1,http://www.gunviolencearchive.org/incident/999403,http://minnesota.cbslocal.com/2017/12/01/polic...,False,...,NaN,0::Adult 18+,NaN,NaN,NaN,0::Injured,0::Victim,http://minnesota.cbslocal.com/2017/12/01/polic...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238758,949014,2017-09-30,Arkansas,Little Rock,21st Street and Martin Street,0,1,http://www.gunviolencearchive.org/incident/949014,http://www.arkansasonline.com/news/2017/oct/02...,False,...,0::22,0::Adult 18+,0::Male,NaN,NaN,0::Injured,0::Victim,http://www.arkansasonline.com/news/2017/oct/02...,34.0,31.0
238759,945729,2017-09-30,Mississippi,Columbus,3000 Block of MS 69 S,0,1,http://www.gunviolencearchive.org/incident/945729,http://www.wtva.com/story/36492819/lowndes-cou...,False,...,NaN,NaN,0::Male,NaN,NaN,0::Injured||1::Unharmed,0::Victim||1::Subject-Suspect,http://www.wtva.com/story/36492819/lowndes-cou...,41.0,16.0
238760,946012,2017-09-30,Florida,Port Charlotte,Dorchester St,1,0,http://www.gunviolencearchive.org/incident/946012,http://www.winknews.com/2017/10/01/port-charlo...,False,...,0::23,0::Adult 18+||1::Adult 18+,0::Male||1::Male,0::Joshua Jordan,1::Family,0::Killed||1::Unharmed,0::Victim||1::Subject-Suspect,http://www.nbc-2.com/story/36494005/port-charl...,75.0,28.0
238761,949234,2017-09-30,Alabama,Opp,2300 block of West Cummings Avenue,0,1,http://www.gunviolencearchive.org/incident/949234,http://www.wsfa.com/story/36500769/man-arreste...,False,...,0::36||1::24,0::Adult 18+||1::Adult 18+,1::Male,1::Justin L. Long,NaN,"0::Injured||1::Unharmed, Arrested",0::Victim||1::Subject-Suspect,http://www.wsfa.com/story/36500769/man-arreste...,92.0,31.0
238762,949439,2017-09-30,Alabama,Rainsville,NaN,0,1,http://www.gunviolencearchive.org/incident/949439,http://whnt.com/2017/10/01/rainsville-man-arre...,False,...,0::18||1::21,0::Adult 18+||1::Adult 18+,1::Male,1::Shawn Dale Brown,NaN,"0::Injured||1::Unharmed, Arrested",0::Victim||1::Subject-Suspect,http://whnt.com/2017/10/01/rainsville-man-arre...,24.0,8.0

In [44]:
df.isnull().sum()

incident_id                         0
date                                0
state                               0
city_or_county                      0
address                         16391
n_killed                            0
n_injured                           0
incident_url                        0
source_url                        464
incident_url_fields_missing         0
congressional_district          12532
gun_stolen                      99313
gun_type                        99266
incident_characteristics          323
latitude                         8005
location_description           197366
longitude                        8005
n_guns_involved                 99266
notes                           80859
participant_age                 92170
participant_age_group           42045
participant_gender              36301
participant_name               121907
participant_relationship       223187
participant_status              27588
participant_type                24807
sources                           614
state_house_district            38684
state_senate_district           32439
dtype: int64

In [45]:
minidf = df[['date','state','n_killed','n_injured','incident_characteristics']]
minidf

,date,state,n_killed,n_injured,incident_characteristics
0,2017-12-01,North Carolina,0,1,Shot - Wounded/Injured||Home Invasion||Home In...
1,2017-12-01,Kentucky,0,0,Non-Shooting Incident||School Incident||Gun at...
2,2017-12-01,Ohio,0,1,Shot - Wounded/Injured
3,2017-12-01,Washington,0,0,Non-Shooting Incident||Drug involvement||Gun(s...
4,2017-12-01,Minnesota,0,1,Shot - Wounded/Injured||Institution/Group/Busi...
...,...,...,...,...,...
238758,2017-09-30,Arkansas,0,1,Shot - Wounded/Injured
238759,2017-09-30,Mississippi,0,1,Shot - Wounded/Injured
238760,2017-09-30,Florida,1,0,"Shot - Dead (murder, accidental, suicide)||Non..."
238761,2017-09-30,Alabama,0,1,Shot - Wounded/Injured
238762,2017-09-30,Alabama,0,1,Shot - Wounded/Injured